@import "./grid";
@import "./reset";

*{
   @include reset;
}

[class*="col-"] {
    padding: 15px;
    border: 5px solid white;
    float: left;
  }
  
  .orange {
    background-color: orange;
  }
  
  .blue {
    background-color: lightskyblue;
  }
  
  .green {
    background-color: yellowgreen;
    height: 16vh;
  }
  
  .grey {
    background-color: lightgrey;
  }
  
  .content div {
    height: 16vh;
  }
  
  .footer div {
    height: 8vh;
  }